{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "arrow-parens": 0,
    "no-await-in-loop": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
